@import url('https://fonts.googleapis.com/css2?family=Stack+Sans+Headline:wght@200..700&display=swap');

* {
  margin: 0;
  padding: 0;
}

.text-bold {
  font-family: "Stack Sans Headline", sans-serif;
  font-weight: 700;
}

.text-thin {
  font-family: "Stack Sans Headline", sans-serif;
  font-weight: 300;
}

.article-text {
  width: 60%;
  text-align: justify;
}

html {
  overflow-y: scroll;
  scrollbar-width: none;
  scroll-behavior: smooth;
}

html, body {
  height: 100%;
  width: 100%;
}

.header {
  width: 100%;
  height: 80%;
  background-color: #1e3f5e;
  display: grid;
  grid-template-rows: 2fr 1fr 1fr 2fr;
  color: white;
  position: relative;
  overflow: hidden;
  place-items: center;

  span {
    display: inline-block;
    overflow: hidden;
  }

  .container {
    width: 100%;
    height: 100%;
    grid-row: 2;
  }

  .title {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;

    * {
      font-size: 5vw;
    }
  }

  .text2 {
    translate: 0 19%;
  }

  .title-bar {
    width: 3px;
    height: 5rem;
    position: absolute;
    top: 30px;
    left: 300px;
  }

  p:first-of-type {
    grid-row: 3;
  }
}

.footer-header {
  position: fixed;
  top: 20px;
  left: 20px;
  width: calc(100% - 40px);
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f0f8ff67;
  box-shadow: 0 0 10px #00000026;
  border-radius: 6px;
  backdrop-filter: blur(1rem);

  .button-links {
    margin-left: 30px;
    display: flex;
    gap: 10px;
  }

  a {
    margin-right: 30px;
  }

  button {
    height: 40px;
    padding: 0 15px;
    background: transparent;
    border: none;
    border-radius: 3px;
    transition: all 0.2s linear;

    &:hover {
      background-color: #FFFFFF40;
      box-shadow: 0 0 6px #FFFFFF;
    }
  }
}

.dv-info {
  width: 70%;
  height: 300px;
  box-shadow: 0 0 6px #00000026;
  background-color: white;
  margin: 30px 0 0 2%;
  border-radius: 6px;
  padding: 10px;

  &.dv-right {
    margin-left: auto;
    margin-right: 2%;
    text-align: right;
  }
}

#quesomos {
  scroll-margin-top: 100px;
}