@import url('https://fonts.googleapis.com/css2?family=Stack+Sans+Headline:wght@200..700&display=swap');

* {
  margin: 0;
  padding: 0;
}

.text-bold {
  font-family: "Stack Sans Headline", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}

.text-thin {
  font-family: "Stack Sans Headline", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
}

html {
  overflow-y: scroll;
  scrollbar-width: none;
}

html, body {
  height: 100%;
  width: 100%;
}

.header {
  position: static;
  width: 100%;
  height: 75%;
  background-color: rgb(33, 107, 226);
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  grid-template-rows: 2fr 1fr 1fr 2fr;
  color: white;
  align-items: center;
  align-content: center;
  justify-content: center;
  justify-items: center;

  h1 {
    grid-column: 2;
    grid-row: 2;
    font-size: 5rem;
  }

  p:first-of-type {
    grid-column: 2;
    grid-row: 3;
  }
}