RewriteEngine On
RewriteBase /Proyecto-Camaron/

# If the requested file or directory doesn’t exist, send to index.php
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^ index.php [L]